# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# debian
/debian/.debhelper
/debian/files
/debian/helfertoolctl
/debian/helfertoolctl.debhelper.log
/debian/helfertoolctl.substvars¬
